@charset "utf-8";

/*
   HTML - Hands-on-Exercise 4
   
   Star Dust Stories Design Styles
   
   Filename: sdEffects.css
Submitted by- Aryan Padiyal
Date-02-09-2021

*/

    

/* HTML Styles */
html {
   background-image:url("sdBack1.png")
       
}


/* Body Styles */

body {
   background-image: url("sdBack2.png")
       box-shadow:rgb(31,31,31) 30px 0px 45px,rgb(31,31,31) -30px 0px 45px;
    
    
       background-color:rgb(151,151,151)
           background:radial-gradient(rgba(151,151,151,0.5),40%,70%)
           background:radial-gradient(rgba(0,0,0,0),80%,40%)
}


/* Navigation List Styles */
nav.horizontal
{
border-image-outset: 5px;
    color:rgb(211,211,255);
    font-weight:bold;
}
body > header a {
   background-color: white;
}


/* Section Left Styles */

section#left article h1 {
   color: rgb(211,211,211);
    text-shadow: black;
    outline-offset: 0px;
    filter: blur(5px);
}

img#mportrait {
   filter: drop-shadow(-15px 0px 5px rgba(51, 51, 51, 0.9))  grayscale(0.7) opacity(0.6);
   transform: rotateY(180deg);
}

/* Footer Styles */

footer {
   border-top-style: solid;
    border-top: 2px;
    color:rgb(171,171,171);
}
